node_modules
.idea
*.class
target/
out/
*.iml
.vagrant
*.log
*.ipr
*.iws
*.metadata/
*.DS_Store
*swp
Functional Test/reports/
.gradle
build/
src/main/resources/import.sql
src/main/resources/application.properties
.gradletasknamecache
